# ufbt / fbt
.ufbt/
dist/
build/
*.fap
*.fap.dbg
.sconsign.dblite
compile_commands.json

# IDE / editors
.vscode/
.idea/
*.code-workspace

# Python
__pycache__/
*.py[cod]

# Host test binaries
*.o
*.obj
*.pdb
*.exe

# OS
Thumbs.db
.DS_Store

# PlatformIO
.pio/
